
html {
    background-color: #1a1a1a;
    overflow-x: hidden;
}

.middle {
    width: 100%;
    text-align: center;
    /* Made by */
}
.middle h1 {
    font-family: "Dax", sans-serif;
    color: #fff;
}
.middle input[type="radio"] {
    display: none;
}
.middle input[type="radio"]:checked + .box2 {
    background-color: #007e90;
}
.middle input[type="radio"]:checked + .box2 span {
    color: white;
    transform: translateY(50px);
}
.middle input[type="radio"]:checked + .box2 span:before {
    transform: translateY(0px);
    opacity: 1;
}
.middle .box2 {
    width: 145px;
    height: 150px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    font-weight: 900;
}
.middle .box2:active {
    transform: translateY(10px);
}
.middle .box2 span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1.5em;
    user-select: none;
    color: #007e90;
}
.middle .box2 span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}
/* section box3*/
.middle input[type="radio"]:checked + .box3 {
    background-color: #007e90;
}
.middle input[type="radio"]:checked + .box3 span {
    color: white;
    transform: translateY(22px);
}
.middle input[type="radio"]:checked + .box3 span:before {
    transform: translateY(0px);
    opacity: 1;
}
.middle .box3 {
    width: 60px;
    height: 60px;
    background-color: #fff;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-family: "Dax", sans-serif;
    font-weight: 900;
}
.middle .box3:active {
    transform: translateY(25px);
}
.middle .box3 span {
    position: absolute;
    transform: translate(0, 25px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: .8em;
    user-select: none;
    color: #007e90;
}
.middle .box3 span:before {
    font-size: 1.2em;
    font-family: FontAwesome;
    display: block;
    transform: translateY(20px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}
.middle .front-end span:before {
    content: '\f121';
}
.middle .back-end span:before {
    content: '\f0f4';
}
.middle p {
    color: #fff;
    font-family: "Dax", sans-serif;
    font-weight: 400;
}
.middle p span:after {
    content: '\f0e7';
    font-family: FontAwesome;
    color: yellow;
}
